extends ../layouts/common.pug
block content
	- var maxLength = 100;
	h1 Comics
	.row
		each comic in comics
			.col-sm-3
				.card.text-center(style='width: 14rem;')
					img.card-img-top(src=comic.image, alt='img')
					.card-body
						h5.card-title=comic.name
						p.card-text=(comic.description.length > maxLength ? comic.description.substring(0, maxLength) + "..." : comic.description)  
						a.btn.btn-primary(href="/comics/" + comic._id, style='color: white') Watch